<h1><%= "Application: #{application.id}" %></h1>
<h2>Name: <%= application.name %></h2>
<p> Street Address: <%= application.street_address %> </p>
<p> City: <%= application.city %> </p>
<p> State: <%= application.state %> </p>
<p> Zip Code: <%= application.zip_code %> </p>
<p> Description: <%= application.description %> </p>

<p> Pet Names: 
<% application.pets.each do |pet| %> 
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>

<% if application.status == "In Progress" %>
  <p> <div class="application_status_in_progress">Application Status: <%= application.status %></div></p>
<% elsif application.status == "Pending" %>
  <p> <div class="application_status_pending">Application Status: <%= application.status %></div></p>
<% elsif application.status == "Accepted" %>
  <p> <div class="application_status_accepted">Application Status: <%= application.status %></div></p>
<% elsif application.status == "Rejected" %>
  <p> <div class="application_status_rejected">Application Status: <%= application.status %></div></p>
<% end %>